<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Subscriptions</title>
</head>
<body>
<h2>AppDirect challengue</h2>

<p>This is a very simple interface to show the integration with appDirect. The following event where integrated</p>
<ul>
    <li>Buy application</li>
    <li>Cancel subscription</li>
    <li>Upgrade/Downgrade subscription</li>
    <li>Subscription state change</li>
    <li>Assign user</li>
    <li>UnAssign user</li>
</ul>

<h3>Non data persistence integrated</h3>

<p>Since there is no persistance layer implemented, all the information sent to the application will be lost once the
    application is closed. So if any application is bought or user assigned, once the application is restarted the
    information won't match between what AppDirect server has and what the application is showing. To workaround this
    problem, the application will always return success to any subscription action and/or assignment operation. The
    application will try to update his data accordingly</p>

<h4>Known subscriptions</h4>
<p>
<table>
    <thead>
    <tr>
        <th>Subscription id</th>
        <th>Type</th>
        <th>Status</th>
        <th>Pricing</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sb : ${subscriptions}">
        <td th:text="${sb.id}"></td>
        <td th:text="${sb.subscriptionType}"></td>
        <td th:text="${sb.pricing}"></td>
    </tr>
    </tbody>
</table>
</p>

<h4>Users known and subscriptions assigned for them</h4>
<p>
<table>
    <thead>
    <tr>
        <th>User id</th>
        <th>User First Name</th>
        <th>User Last Name</th>
        <th>Subscriptions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${usersSubscribed}">
        <td th:text="${entry.key.userId}">Id</td>
        <td th:text="${entry.key.firstName}">FirstName</td>
        <td th:text="${entry.key.lastName}">LastName</td>
        <td>
            <table>
                <thead>
                <tr>
                    <th>Subscription id</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Pricing</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="sb : ${entry.value}">
                    <td th:text="${sb.id}">Id</td>
                    <td th:text="${sb.subscriptionType}">Type</td>
                    <td th:text="${sb.pricing}">Pricing</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>

</table>
</p>

<form action="/" method="get">
    <button type="submit" name="save">Refresh</button>
</form>

</body>
</html>